@use "sass:map";

$sizes: (
  s: 1px,
  m: 2px,
  l: 3px,
  xl: 4px,
);

@mixin spreadMap(
  $map: (),
  $prefix: false,
) {
  @each $key, $value in $map {
    @debug $key, $value;
    @if $prefix {
      --size-#{$prefix}-#{$key}: #{$value};
    } @else {
      --size-#{$key}: #{$value};
    }
  }
}

@function generateSizes(
  $a: 1,
  $b: 0,
) {
  $map: ();

  @each $key, $value in $sizes {
    $map: map.set($map, "#{$key}", $value * $a + $b);
  }

  @return $map;
}
